name: Integração Contínua (CI) - TP4

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build e Testes com Maven
        run: mvn -B package --file pom.xml

      - name: Publicar Relatório de Testes
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: target/surefire-reports/