name: Pipeline DevOps TP5 (Final)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: 3. Executar Testes Automatizados (Logs Personalizados)
        run: |
          echo ">>> [TP5] INICIANDO SUITE DE TESTES..."
          mvn -B test --file pom.xml
          echo ">>> [TP5] TESTES FINALIZADOS COM SUCESSO!"

      - name: 4. Gerar Executável .jar
        run: |
          echo ">>> [TP5] INICIANDO BUILD DO ARTEFATO..."
          mvn -B package -DskipTests --file pom.xml
          echo ">>> [TP5] BUILD CONCLUÍDO!"

      - name: 5. Publicar Artefato (Deploy)
        uses: actions/upload-artifact@v4
        with:
          name: sistema-estoque-executavel
          path: target/*.jar
          retention-days: 5